
<label for="preg" class="rem"> Pregunta </label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%=quiz.pregunta%>"
<% if (quiz.pregunta =="") { %>
    placeholder="Pregunta"
<% } %>
><br>
<label for="resp" class="rem">Respuesta</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%=quiz.respuesta%>"
<% if (quiz.respuesta =="") { %>
    placeholder="Respuesta"
<% } %>
><br>
Tema:
<select name="quiz[tema]">
<% 
    var temas=["otro","humanidades","ocio","ciencia","tecnologia"];
    var temasLabel={otro:"Otro", humanidades: "Humanidades", ocio:"Ocio",
        ciencia:"Ciencia", tecnologia:"Tecnología"};
    for (s in temas) {
    var selected=(temas[s]===quiz.tema)?" selected":"";
%>
    <option value="<%=temas[s]%>"<%=selected%>><%=temasLabel[temas[s]]%></option>

<% } /*for*/ %>
</select>
<br>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
